<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Contact</h2>
      <% if (!contacts) { %>
      <div class="alert alert-danger fw-bold" role="alert">
        Daftar contact tidak ada <br />
        <a href="/contact" class="alert-link fw-normal">Kembali ke Daftar Contact</a>
      </div>
      <% } else { %>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h4 class="card-title"><%= contacts.nama %></h4>
          <h5 class="card-subtitle mt-2 text-body-secondary"><%= contacts.noHP %></h5>
          <h5 class="card-text"><%= contacts.email %></h5>
          <a href="/contact/edit/<%= contacts.nama %>" class="btn btn-info badge">Edit</a>
          <form action="/contact?_method=DELETE" method="POST" class="d-inline">
            <input type="hidden" name="nama" value="<%= contacts.nama %>" />
            <button type="submit" class="btn btn-danger badge" onclick="return confirm('Hapus contact ini?')">hapus</button>
          </form>
          <a href="/contact" class="d-block mt-2">Kembali ke daftar contact</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
